html{
    margin: 0rem;
    padding: 0rem;
}


#introduction{
    background: linear-gradient(to bottom right, rgb(225,24,142) , rgb(158,48,145));
    height: 100vh;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

